{% extends "header.html" %}

{% block body %}

<body>

<div class ="container">
	<div class="row align-items-start">
		<div class ="col-lg">
			<iframe src="https://calendar.google.com/calendar/embed?src=cosu83stsjnm94l9i1l3ld3cr8%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>		</div>
		<div class ="col-sm">
		{% from "_formhelpers.html" import render_field %}
		<h5>Please check calendar and select 
		any available time not marked "busy": </h5>
		
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/Appointments/">
		
		<select name="time" method="GET" action="/">
		<option value="{{times[0]}}" selected>{{times[0]}}</option>
			{% for time in times[1:] %}
		<option value="{{time}}">{{time}}</option>
			{% endfor %}
		</select>
		
		<select name="day" method="GET" action="/">
		<option value="{{days[0]}}" selected>{{days[0]}}</option>
			{% for day in days[1:] %}
		<option value="{{day}}">{{day}}</option>
			{% endfor %}
		</select>
		
		<select name="month" method="GET" action="/">
		<option value="{{months[0]}}" selected>{{months[0]}}</option>
			{% for month in months[1:] %}
		<option value="{{month}}">{{month}}</option>
			{% endfor %}
		</select>
		
		<select name="year" method="GET" action="/">
		<option value="{{years[0]}}" selected>{{years[0]}}</option>
			{% for year in years[1:] %}
		<option value="{{year}}">{{year}}</option>
			{% endfor %}
		</select></p>
		
		<select multiple name="service" method="GET" action="/">
		<option value="{{services[0]}}" selected>{{services[0]}}</option>
			{% for service in services[1:] %}
		<option value="{{service}}">{{service}}</option>
			{% endfor %}
		</select></p>
		
		
		<input type=textbox size=30 name=name placeholder= "Name"></p>
		<input type=textbox size=30 name=email placeholder= "Email"></p>
		<input type=textbox size=30 name=address placeholder= "Address of Inspection"></p>
		
		<textarea name="textarea"
		rows="10" cols="35">Enter Information</textarea>
		
		
		

			<p><input type=submit value=Submit></p>
		</form>
		
		</div>
	</div>
<div>
		

</body>
{% endblock %}